@font-face {
  font-family: 'Pretendard Variable';
  font-weight: normal;
  font-display: swap;
  src: local('Pretendard Variable'),
    url('../assets/font/PretendardVariable.woff2') format('woff2');
}

* {
  font-family: 'Pretendard Variable', 'Apple SD Gothic Neo', sans-serif;
  line-height: 28px;
  color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #000;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}
